body {
  color: #212121;
  font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.02em;
}

body {
  margin: 0;
  padding: 0;
}

section {
  max-width: 600px;
  margin: 0 auto;
  padding: 4px;
}

section:after {
  display: block;
  content: '';
  clear: both;
}

section.hang-left img {
  float: left;
  width: 400px;
  margin-left: -200px;
  margin-right: 20px;
  border: 4px #513162 solid;
  border-radius: 6px;
}

section.border-top {
  border-top: 2px #aaa solid;
  margin-top: 20px;
}

@media(max-width: 600px) {
  section {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media(max-width: 890px) {
  section.hang-left img {
    float: none;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    border: 0;
  }
}


.header-bar h1 {
  font-size: 40px;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.featured {
  background: #513162;
  background: url(/assets/triangles.png);
  color: white;
  padding: 40px;
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
}

a {
  color: #683881;
}
a:hover {
  color: #513162;
}


footer {
  background-color: #aaa;
  padding: 1em 0 4em 0;
}

footer ul {
  margin: 0;
}

